appnope==0.1.0
certifi==2017.4.17
chardet==3.0.3
codeclimate-test-reporter==0.2.3
coverage==4.4.1
decorator==4.0.11
idna==2.5
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
mypy==0.511
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.1
py==1.4.34
Pygments==2.2.0
pytest==3.1.1
pytest-cov==2.5.1
requests==2.20.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
typed-ast==1.0.3
urllib3==1.24.2
wcwidth==0.1.7
